<mj-wrapper padding="15px 25px 25px" background-color="#fff">
  <mj-section padding="0">
    <mj-column padding="15px 1%" border="1px solid #000000;">
      <mj-text align="center" css-class="p2"> If you no longer wish to receive emails from Allergan<sup>&reg;</sup> about products and services, please&nbsp;<a href="#" style="color:#387cbb;">click&nbsp;here</a> to unsubscribe. </mj-text>
      <mj-text align="center"> If you would like to contact Allergan<sup>&reg;</sup>, please mail all communications to: <br/>PO Box 19534, Irvine, CA 92623-9534. </mj-text>
      
      
      
       <mj-text align="center">
         
         <a href="https://www.allergan.com/privacy-and-terms/ccpa" target="_blank" style="color:#58595b">Privacy Statement</a> | <a href="https://www.allergan.com/privacy-and-terms/ccpa" target="_blank" style="color:#58595b">California Privacy Policy</a> | <a href="https://www.allergan.com" target="_blank" style="color:#58595b">Allergan.com</a>
      </mj-text>
      
      
    </mj-column>
  </mj-section>
</mj-wrapper>